body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, span, button {
    margin: 0;
    padding: 0;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 300px;
}

.card__img img {
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card__info {
    padding: 30px 25px;
    border: 2px solid #e2e2e2;
    border-radius: 4px;
    border-top: none;
    margin-top: -7px;
}

.card__content h1 {
    font-size: 20px;
    color: #333;
}

.card__content p {
    margin-top: 5px;
    font-size: 15px;
    color: #666;
}

.card__purchase {
    margin-top: 13px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.card__price {
    display: flex;
    align-items: baseline;
}

.card__price h2 {
    font-size: 35px;
    color: #333;
}

.card__price p {
    font-size: 20px;
    color: #666;
    margin-left: 3px;
}

.card__button button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 0.3s ease;
}

.card__button button {
    background: #4ed17b;
    width: 50px;
    height: 40px;
    border: 1px solid#4ed17b;
    border-radius: 6px;
    display: block;
    box-sizing: border-box;
    margin-bottom: -3px;
}

.cart-img {
    width: 18px;
}


